<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div id="year" class="small m-0 text-white">Copyright &copy; MangoSchool 
                <!-- Este span será preenchido com o ano atual usando JavaScript --></div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!" onclick="navigateToSocialMedia(1)">Instagram</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!" onclick="navigateToSocialMedia(2)">Facebook</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</footer>

<script>
    const yearElement = document.getElementById('year');
    const currentYear = new Date().getFullYear();
    yearElement.textContent += currentYear;
    function navigateToSocialMedia(number) {
    let url;
    
    if (number == 1) {
        url = "https://www.instagram.com/mango_school/?igshid=MzNlNGNkZWQ4Mg%3D%3D";
    }
    
    if (number == 2) {
        url = "https://www.facebook.com/MangoEnglishMediumSchool?mibextid=ZbWKwL";
    }
    
    if (url) {
        window.open(url, "_blank");
    } else {
        console.log("Invalid number provided. Please use 1 for Instagram or 2 for Facebook.");
    }
}
</script>
