{{#if message}}
    <label id="messageLabel" class="{{class}}">{{message}}</label>
    <script>
        setTimeout(function() {
            var messageLabel = document.getElementById('messageLabel');
            if (messageLabel) {
                messageLabel.style.display = 'none';
            }
        }, 5000); 
    </script>
{{/if}}
