<!DOCTYPE html>
<html lang="en">
<main class="flex-shrink-0">
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                    </div>
                    <h1 class="fw-bolder">New Grade Register</h1>
                    <p class="lead fw-normal text-muted mb-0">Write a grade below</p>
                    {{> message message=message}}
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form action="/grade" method="POST" id="newGradeForm">
                            <!-- Form inputs-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="studentName" type="text" placeholder="studentName"
                                    data-sb-validations="required,studentName" name="studentName" />
                                <label for="studentName">Student Name</label>
                                <div class="invalid-feedback" data-sb-feedback="studentName:required">A text is
                                    required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="subjectName" type="text" placeholder="subjectName"
                                    data-sb-validations="required,subjectName" name="subjectName" />
                                <label for="subjectName">Subject Name</label>
                                <div class="invalid-feedback" data-sb-feedback="subjectName:required">A text is
                                    required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="date" type="date" placeholder="Arith"
                                    data-sb-validations="required,date" name="date" />
                                <label for="date">Grade Date</label>
                                <div class="invalid-feedback" data-sb-feedback="date:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="arith" type="text" placeholder="Arith"
                                    data-sb-validations="required,arith" name="arith" />
                                <label for="arith">Arith</label>
                                <div class="invalid-feedback" data-sb-feedback="arith:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="kus" type="text" placeholder="Arith"
                                    data-sb-validations="required,kus" name="kus" />
                                <label for="kus">Kus</label>
                                <div class="invalid-feedback" data-sb-feedback="kus:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="he" type="text" placeholder="Arith"
                                    data-sb-validations="required,he" name="he" />
                                <label for="he">He</label>
                                <div class="invalid-feedback" data-sb-feedback="he:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="sa" type="text" placeholder="Arith"
                                    data-sb-validations="required,sa" name="sa" />
                                <label for="sa">Sa</label>
                                <div class="invalid-feedback" data-sb-feedback="sa:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="writ" type="text" placeholder="writ"
                                    data-sb-validations="required,writ" name="writ" />
                                <label for="writ">Write</label>
                                <div class="invalid-feedback" data-sb-feedback="writ:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="read" type="text" placeholder="read"
                                    data-sb-validations="required,read" name="read" />
                                <label for="read">Read</label>
                                <div class="invalid-feedback" data-sb-feedback="read:required">A text is required.
                                </div>
                            </div>


                            <div class="form-floating mb-3">
                                <input class="form-control" id="total" type="text" placeholder="total"
                                    data-sb-validations="required,total" name="total" />
                                <label for="total">Total</label>
                                <div class="invalid-feedback" data-sb-feedback="total:required">A text is required.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="ave" type="text" placeholder="ave"
                                    data-sb-validations="required,ave" name="ave" />
                                <label for="ave">Ave</label>
                                <div class="invalid-feedback" data-sb-feedback="ave:required">A text is required.
                                </div>
                            </div>

                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                    type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

</html>