<!DOCTYPE html>
<html lang="en">

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Donate to the project
                            </h1>
                            <p class="lead fw-normal text-white-50 mb-4"> $1.00 dolar can buy new books to a child. You can make the difference</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-success btn-lg px-4 me-sm-3" href="#features">Donate</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="assets/photos/29.jpeg" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">Our goals:</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-collection"></i></div>
                                <h2 class="h5">Lifelong Learning</h2>
                                <p class="mb-0">The objectives of lifelong learning encompass personal growth, skill enhancement, career progression, adaptability to changing environments, fostering curiosity, and enriching life experiences, leading to continuous self-improvement and fulfillment.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-building"></i></div>
                                <h2 class="h5">Opportunity</h2>
                                <p class="mb-0"> Providing growth opportunities for children include fostering holistic development, nurturing curiosity, instilling critical thinking skills, promoting creativity, cultivating a love for learning, and empowering students to become resilient, empathetic, and responsible individuals equipped to thrive in a dynamic world.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Education</h2>
                                <p class="mb-0">Nurturing intellectual, emotional, and social development, fostering curiosity and critical thinking, cultivating values, promoting lifelong learning habits, and empowering students to become compassionate, responsible, and productive members of society.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Growth</h2>
                                <p class="mb-0">Fostering holistic development, nurturing individual talents, promoting intellectual curiosity, instilling resilience, encouraging self-discovery, cultivating a growth mindset, and empowering students to achieve their full potential academically, socially, and emotionally.>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"As the school director in remote Tanzania, we're more than a building. We're a beacon of hope, nurturing dreams, empowering students, and driving community development through quality education, holistic growth, and cultural preservation."</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3 w-25" loading="lazy" src="assets/profile-photos/maurus.png"
                                    alt="..." />
                                <div class="fw-bold">
                                    Maurus
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Director, Mango School
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>